
.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  width: 90vw;
  height: 90vw;
  margin: 1rem auto;
  border: solid 5px #ddd;
}
